@model IEnumerable<DapperExample.Models.EmployeeModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpSalary)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpSalary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EmpId })|
            @Html.ActionLink("Delete", "Delete", new { id = item.EmpId })
        </td>
    </tr>
}

</table>


@section HeaderSection
{
    <ul style="color:white;">
        <li>Home</li>
        <li>AboutUs</li>
        <li>ContactUs</li>
    </ul>
 }